In [1]:
####RQ1: Data preprocessing ####

In [60]:
import json
import pandas as pd
import numpy as np

# Import data

In [61]:
#Since the review.json does not include businessâ€™ details, we would need to merge the review file with the 
#business file if we want to have details of what kind of business each review is for.

#Load the business.json file
#Set up the business.json environment path to load using Pandas

business_json_path='business.json'
df_b=pd.read_json(business_json_path,lines=True)

In [62]:
#df_b.head()
df_b.columns

Index(['business_id', 'full_address', 'hours', 'open', 'categories', 'city',
       'review_count', 'name', 'neighborhoods', 'longitude', 'state', 'stars',
       'latitude', 'attributes', 'type'],
      dtype='object')

In [63]:
#Load the user.json file
#Set up the business.json environment path to load using Pandas

user_json_path='user.json'
df_u=pd.read_json(user_json_path,lines=True)

In [64]:
#df_u.head()
df_u.head()

,yelping_since,votes,review_count,name,user_id,friends,fans,average_stars,type,compliments,elite
0,2004-10,"{'funny': 167, 'useful': 282, 'cool': 246}",108,Russel,18kPq7GPye-YQ3LyKyAZPw,"[rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...",69,4.14,user,"{'profile': 8, 'cute': 15, 'funny': 11, 'plain...","[2005, 2006]"
1,2004-10,"{'funny': 8399, 'useful': 15242, 'cool': 12091}",1292,Jeremy,rpOyqD_893cqmDAtJLbdog,"[18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...",1345,3.67,user,"{'profile': 117, 'cute': 204, 'funny': 594, 'p...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201..."
2,2004-10,"{'funny': 722, 'useful': 1349, 'cool': 657}",395,Michael,4U9kSBLuBDU391x6bxU-YA,"[18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...",105,3.68,user,"{'profile': 9, 'cute': 22, 'funny': 96, 'plain...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201..."
3,2004-10,"{'funny': 1, 'useful': 11, 'cool': 5}",11,Ken,fHtTaujcyKvXglE33Z5yIw,"[18kPq7GPye-YQ3LyKyAZPw, rpOyqD_893cqmDAtJLbdo...",2,4.64,user,{'cute': 2},[]
4,2004-10,"{'funny': 13, 'useful': 37, 'cool': 16}",66,Katherine,SIBCL7HBkrP4llolm4SC2A,"[rpOyqD_893cqmDAtJLbdog, HDQixQ-WZEV0LVPJlIGQe...",5,3.80,user,"{'cute': 2, 'plain': 2, 'writer': 2, 'note': 1...",[2005]

In [ ]:
#Load the review.json file
#Set up the business.json environment path to load using Pandas

review_json_path='review.json'
df_r=pd.read_json(review_json_path,lines=True)

In [ ]:
df_r.head()
#df_r.columns, df_r.describe()

In [ ]:
#Load the checkins.json file
#Set up the business.json environment path to load using Pandas

checkin_json_path='checkin.json'
df_c=pd.read_json(checkin_json_path,lines=True)

In [ ]:
df_c.head()
#df_c.columns, df_c.describe()

In [10]:
#Load the tips.json file
#Set up the tips.json environment path to load using Pandas

tip_json_path='tip.json'
df_t=pd.read_json(tip_json_path,lines=True)

In [11]:
df_t.head()
#df_t.columns , df_t.describe()

,user_id,text,business_id,likes,date,type
0,ZxdojCZgZhw36xuSGaryRg,Pizza is garbage. Hoagies are excellent.,5UmKMjUEUNdYWqANhGckJw,0,2016-07-17,tip
1,-6rEfobYjMxpUWLNxszaxQ,Don't waste your time.,cE27W9VPgO88Qxe4ol6y_g,0,2013-04-18,tip
2,5OumCBQ_MyQsltSdbMyunA,Not easy to find. Be sure to put in directions...,mVHrayjG3uZ_RLHkLj-AMg,0,2016-02-22,tip
3,EZ0r9dKKtEGVx2CdnowPCw,Your GPS will not allow you to find this place...,mVHrayjG3uZ_RLHkLj-AMg,1,2013-01-06,tip
4,xb6zEQCw9I-Gl0g06e1KsQ,Great drink specials!,KayYbHCt-RkbGcPdGOThNg,0,2013-12-03,tip

In [12]:
df_b.head()

,business_id,full_address,hours,open,categories,city,review_count,name,neighborhoods,longitude,state,stars,latitude,attributes,type
0,5UmKMjUEUNdYWqANhGckJw,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",True,"[Fast Food, Restaurants]",Dravosburg,7,Mr Hoagie,[],-79.900706,PA,3.5,40.354327,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",business
1,UsFtqoBl7naz8AVUBZMjQQ,"202 McClure St\nDravosburg, PA 15034",{},True,[Nightlife],Dravosburg,5,Clancy's Pub,[],-79.886814,PA,3.0,40.350553,"{'Happy Hour': True, 'Accepts Credit Cards': T...",business
2,cE27W9VPgO88Qxe4ol6y_g,"1530 Hamilton Rd\nBethel Park, PA 15234",{},False,"[Active Life, Mini Golf, Golf]",Bethel Park,5,Cool Springs Golf Center,[],-80.014660,PA,2.5,40.354115,{'Good for Kids': True},business
3,mVHrayjG3uZ_RLHkLj-AMg,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",True,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,26,Emil's Lounge,[],-79.866211,PA,4.5,40.408830,"{'Alcohol': 'full_bar', 'Noise Level': 'averag...",business
4,mYSpR_SLPgUVymYOvTQd_Q,"1000 Clubhouse Dr\nBraddock, PA 15104","{'Sunday': {'close': '15:00', 'open': '10:00'}...",True,"[Active Life, Golf]",Braddock,3,Grand View Golf Club,[],-79.855782,PA,5.0,40.403405,"{'Parking': {'garage': False, 'street': False,...",business

In [13]:
df_b["state"].unique()

array(['PA', 'NC', 'SC', 'WI', 'IL', 'AZ', 'CA', 'NV', 'FL', 'NM', 'QC',
       'ON', 'TX', 'EDH', 'MLN', 'HAM', 'SCB', 'ELN', 'FIF', 'NTH', 'XGL',
       'BW', 'RP', 'KHL', 'MN', 'NW', 'TAM', 'AL', '', 'AK'], dtype=object)

#  Data preparation - Numerical Features

In [50]:
# Filtering Restaurant business in the state of Nevada
business_df=df_b[df_b["state"]=="PA"]

In [51]:
#Select only restaurants from many different categories

res = ["Restaurant", "restaurant"]
business_df['split_categories'] = 0

for i in range(len(business_df['categories'])):
  cat = str(business_df['categories'].iloc[i])
  cat.split(',')
  if any(item in cat for item in res):
    business_df['split_categories'].iloc[i] = 1

<ipython-input-51-6370148d8ed8>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_df['split_categories'] = 0
C:\Users\ernac\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
<ipython-input-51-6370148d8ed8>:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  business_df['split_categories'].iloc[i] = 1

In [52]:
restaurant = business_df[business_df['split_categories']==1]
restaurant_open = restaurant[restaurant['open']==1]
restaurant_open.describe()

       review_count    longitude        stars     latitude  split_categories
count   1263.000000  1263.000000  1263.000000  1263.000000            1263.0
mean      60.231196   -79.978665     3.571259    40.435144               1.0
std       92.419651     0.052133     0.684378     0.031324               0.0
min        3.000000   -80.099666     1.000000    40.350007               1.0
25%       10.000000   -80.006116     3.000000    40.426225               1.0
50%       27.000000   -79.982793     3.500000    40.440476               1.0
75%       74.000000   -79.944783     4.000000    40.453679               1.0
max     1175.000000   -79.850259     5.000000    40.498084               1.0

In [53]:
restaurant_open["avg_openinghrs"]=restaurant_open["review_count"]

<ipython-input-53-8d4cc785e757>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_open["avg_openinghrs"]=restaurant_open["review_count"]

In [54]:
#create a new numerical variable that measures the average opening hours during weekdays and average opening hours during weekend

for i in list(restaurant_open.index):
    opening_hrs=[]
    days=list(restaurant_open["hours"][i].keys())
    for j in days:
        close = float(restaurant_open["hours"][i][j]["close"][:2])
        if close==0:
            close = 24
        if close==1:
            close =25
        if close==2:
            close =26
        if close==3:
            close =27
        else:
            close
        close_time=close*60+float((restaurant_open["hours"][i][j]["close"][3:]))
        open_time=float(restaurant_open["hours"][i][j]["open"][:2])*60+float((restaurant_open["hours"][i][j]["open"][3:]))
        opening_hrs.append((close_time-open_time)/60)
    avg=np.sum(opening_hrs)/len(days)
    restaurant_open["avg_openinghrs"][i]=avg

<ipython-input-54-7754ee4d111a>:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_open["avg_openinghrs"][i]=avg
C:\Users\ernac\anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3418: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  exec(code_obj, self.user_global_ns, self.user_ns)
<ipython-input-54-7754ee4d111a>:21: RuntimeWarning: invalid value encountered in double_scalars
  avg=np.sum(opening_hrs)/len(days)
C:\Users\ernac\anaconda3\lib\site-packages\pandas\core\indexing.py:670: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  iloc._setitem_with_indexer(indexer, value)
C:\Users\ernac\anaconda3\lib\site-packages\pandas\core\series.py:1008: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self.loc[key] = value

In [55]:
restaurant_open=restaurant_open.dropna()

In [56]:
restaurant_open

,business_id,full_address,hours,open,categories,city,review_count,name,neighborhoods,longitude,state,stars,latitude,attributes,type,split_categories,avg_openinghrs
0,5UmKMjUEUNdYWqANhGckJw,"4734 Lebanon Church Rd\nDravosburg, PA 15034","{'Friday': {'close': '21:00', 'open': '11:00'}...",True,"[Fast Food, Restaurants]",Dravosburg,7,Mr Hoagie,[],-79.900706,PA,3.5,40.354327,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",business,1,10.000000
3,mVHrayjG3uZ_RLHkLj-AMg,"414 Hawkins Ave\nBraddock, PA 15104","{'Tuesday': {'close': '19:00', 'open': '10:00'...",True,"[Bars, American (New), Nightlife, Lounges, Res...",Braddock,26,Emil's Lounge,[],-79.866211,PA,4.5,40.408830,"{'Alcohol': 'full_bar', 'Noise Level': 'averag...",business,1,8.000000
5,KayYbHCt-RkbGcPdGOThNg,"141 Hawthorne St\nGreentree\nCarnegie, PA 15106","{'Monday': {'close': '02:00', 'open': '11:00'}...",True,"[Bars, American (Traditional), Nightlife, Rest...",Carnegie,23,Alexion's Bar & Grill,[Greentree],-80.067549,PA,4.0,40.415486,"{'Alcohol': 'full_bar', 'Noise Level': 'loud',...",business,1,14.000000
12,wJr6kSA5dchdgOdwH6dZ2w,"2100 Washington Pike\nCarnegie, PA 15106","{'Monday': {'close': '02:00', 'open': '08:00'}...",True,"[Burgers, Breakfast & Brunch, American (Tradit...",Carnegie,10,Kings Family Restaurant,[],-80.093215,PA,3.5,40.387512,"{'Take-out': True, 'Drive-Thru': False, 'Good ...",business,1,18.000000
17,fNGIbpazjTRdXgwRY_NIXA,"1201 Washington Ave\nCarnegie, PA 15106","{'Monday': {'close': '23:00', 'open': '11:00'}...",True,"[Bars, American (Traditional), Nightlife, Loun...",Carnegie,10,Rocky's Lounge,[],-80.084942,PA,4.0,40.396469,"{'Alcohol': 'full_bar', 'Noise Level': 'averag...",business,1,12.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85467,XI13cv4463bz2tluEWgbPA,"660 Washington Rd\nPittsburgh, PA 15228","{'Monday': {'close': '22:00', 'open': '11:00'}...",True,"[Bars, Latin American, Mexican, Nightlife, Res...",Pittsburgh,40,Totopo Mexican Kitchen and Bar,[],-80.044505,PA,3.5,40.380953,"{'Alcohol': 'full_bar', 'Noise Level': 'averag...",business,1,11.142857
85505,8M1zE-YhjABqG71JhN-JEA,"329 Castle Shannon Blvd\nPittsburgh, PA 15234","{'Monday': {'close': '02:00', 'open': '11:00'}...",True,"[Bars, Sandwiches, Beer Bar, Nightlife, Restau...",Pittsburgh,18,Caliente Pizza & Draft House,[],-80.036743,PA,3.0,40.376261,"{'Coat Check': False, 'Take-out': True, 'Good ...",business,1,15.000000
85526,Xrv1wGdnplntayA9pVCm5Q,"1800 Rialto St\nTroy Hill\nPittsburgh, PA 15212","{'Monday': {'close': '17:00', 'open': '07:00'}...",True,"[Grocery, Food, Cafes, Specialty Food, Fruits ...",Pittsburgh,8,"Pear and the Pickle, Cafe & Market",[Troy Hill],-79.982293,PA,5.0,40.466752,"{'Take-out': True, 'Wi-Fi': 'free', 'Good For'...",business,1,10.000000
85753,_N6llQ4cPuNcMmKyagRRiA,"115 Federal St\nNorth Side\nPittsburgh, PA 15212","{'Monday': {'close': '21:00', 'open': '11:00'}...",True,"[Mexican, Restaurants]",Pittsburgh,6,Steel Cactus,[North Side],-80.004360,PA,3.5,40.447581,"{'Take-out': True, 'Takes Reservations': False...",business,1,9.714286
85767,4YV8wop_AZan-4nXnKwunw,"1027 Freeport Rd\nPittsburgh, PA 15215","{'Monday': {'close': '22:00', 'open': '11:00'}...",True,"[Fast Food, Mexican, Restaurants]",Pittsburgh,4,Chipotle Mexican Grill,[],-79.885568,PA,3.5,40.488070,"{'Take-out': True, 'Drive-Thru': False, 'Takes...",business,1,11.000000

In [57]:
restaurant_open["number_categories"]=restaurant_open["categories"]

In [58]:
#create a new variable that indicates how many types of business categories correspond to a restaurant 
for i in list(restaurant_open.index):
    restaurant_open["number_categories"][i] = len(restaurant_open["categories"][i])

<ipython-input-58-eae37f217b1b>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  restaurant_open["number_categories"][i] = len(restaurant_open["categories"][i])

In [59]:
#Create a new variable that indicates the average star ratings of all the users that have reviewed each individual business.
business_id=list(restaurant_open["business_id"])
df_r=df_r[df_r["business_id"].isin(business_id)]
df_r

Empty DataFrame
Columns: [votes, user_id, review_id, stars, date, text, type, business_id, avg_stars_user]
Index: []

In [24]:
list_users=list(df_r["user_id"])
df_user=df_u[df_u["user_id"].isin(list_users)]

In [25]:
df_r

,votes,user_id,review_id,stars,date,text,type,business_id
201322,"{'funny': 2, 'useful': 2, 'cool': 3}",i8KMQX7nekLSCzb_DVb6yA,miYDDBejTHWCPnUsADoETA,4,2009-05-14,I have finally found my go to delivery spot fo...,review,CwTYM1-zs80BB1AWJrWmxQ
201323,"{'funny': 0, 'useful': 0, 'cool': 0}",Dtg_LWRwXNj_LtRB7k4UUA,_kG-qComfdP_iiPBLVLtpg,5,2009-11-11,EXCELLENT CHINESE FOOD THAT DELIVERS\nI have g...,review,CwTYM1-zs80BB1AWJrWmxQ
201324,"{'funny': 0, 'useful': 1, 'cool': 0}",ohEAfgrkKGKEf0L2pFdfxw,GaDY9BFhM0RN8bVE2a6-iw,4,2009-11-20,YUM YUM YUM!!! \n\nI can't believe I found a d...,review,CwTYM1-zs80BB1AWJrWmxQ
201325,"{'funny': 0, 'useful': 1, 'cool': 1}",psf7Etrt3azIdhMhoPKmpA,92rH3xH_evyiLudu8lFMOA,4,2010-01-20,"So it was one of those nights, feeling lazy, t...",review,CwTYM1-zs80BB1AWJrWmxQ
201326,"{'funny': 1, 'useful': 0, 'cool': 0}",J0SEk_wHYZkqJLRlVcvRnQ,LufavMr0XE5pYq34Sb_ueA,1,2010-03-14,I read the reviews and decided to try this aft...,review,CwTYM1-zs80BB1AWJrWmxQ
...,...,...,...,...,...,...,...,...
2684641,"{'funny': 0, 'useful': 2, 'cool': 0}",GpwDIWN06FEu3alCnY6YEA,6w3VdJ-uRugF3pKwYZ076w,3,2016-07-18,I stopped by this morning to get a to go order...,review,mCiSmiZ7iNI08F6dGXP7tw
2684642,"{'funny': 12, 'useful': 25, 'cool': 22}",k3itmpGK28_JGNXnAo8W6Q,uPKrN2qEjjzslVLb69ihvQ,5,2016-07-18,"Man, I love seeing people write a short little...",review,mCiSmiZ7iNI08F6dGXP7tw
2684643,"{'funny': 0, 'useful': 0, 'cool': 1}",3zf7Nlp6EhxCyt1T1LYAuQ,-WPy0X2mgGneNp8kHUZy7w,5,2016-07-19,I love kneaders and try to go there when I'm i...,review,mCiSmiZ7iNI08F6dGXP7tw
2684644,"{'funny': 1, 'useful': 3, 'cool': 0}",U4_61Y73poKitvK8croz4A,ZXrMbOy_OfzKsFY4FQM5tg,1,2016-07-19,Well after seeing this place off of the 95 I t...,review,mCiSmiZ7iNI08F6dGXP7tw
2684645,"{'funny': 2, 'useful': 3, 'cool': 1}",XpIoruxupclnWNOv4ol6nQ,oSpdZT7YH43QZdeRd-agQQ,5,2016-07-19,I work close by and watched the building go up...,review,mCiSmiZ7iNI08F6dGXP7tw

In [28]:
restaurant_open

,business_id,full_address,hours,open,categories,city,review_count,name,neighborhoods,longitude,state,stars,latitude,attributes,type,split_categories,avg_openinghrs,number_categories
8421,CwTYM1-zs80BB1AWJrWmxQ,"75 S Valle Verde Dr\nSte 240\nHenderson, NV 89012","{'Monday': {'close': '21:30', 'open': '11:00'}...",True,"[Chinese, Restaurants]",Henderson,63,China a Go Go,[],-115.062978,NV,3.5,36.024157,"{'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...",business,1,10.642857,2
8424,PaLJoYycupjosFKHTNzpHQ,"530 N Stephanie St\nHenderson, NV 89014","{'Monday': {'close': '22:00', 'open': '07:00'}...",True,"[Bakeries, Food, Breakfast & Brunch, American ...",Henderson,72,Marie Callender's Restaurant & Bakery,[],-115.045752,NV,3.0,36.059596,"{'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...",business,1,15.285714,5
8425,1kVg1hADY5MUGMYuuHRJSw,"209 S\nStephanie St\nHenderson, NV 89012","{'Monday': {'close': '00:00', 'open': '10:00'}...",True,"[Sandwiches, Pizza, Chicken Wings, Restaurants]",Henderson,21,Domino's Pizza,[],-114.934892,NV,2.5,35.993980,"{'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...",business,1,14.285714,4
8438,V6csWcyvwOg_E2ni3V_CgA,"180 S Stephanie St\nHenderson, NV 89012","{'Monday': {'close': '21:30', 'open': '11:00'}...",True,"[Seafood, Thai, Chinese, Restaurants]",Henderson,88,Little Dumpling,[],-115.046635,NV,3.5,36.022881,"{'Take-out': True, 'Wi-Fi': 'no', 'Good For': ...",business,1,10.642857,4
8452,hr41l2QX7OHh3k_x0Zk2Vw,"1450 W Horizon Ridge Pkwy\nHenderson, NV 89012","{'Monday': {'close': '21:00', 'open': '11:00'}...",True,"[Pizza, Restaurants]",Henderson,86,Jesse's Pizza,[],-115.048328,NV,4.0,36.023229,"{'Alcohol': 'none', 'Noise Level': 'quiet', 'H...",business,1,10.333333,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85853,AaXjAdEl6uJmsiU2frVqTA,"6500 Ikea Way\nSpring Valley\nLas Vegas, NV 89148","{'Monday': {'close': '20:30', 'open': '09:30'}...",True,"[Cafeteria, Restaurants]",Las Vegas,20,IKEA - Cafeteria,[Spring Valley],-115.281190,NV,3.5,36.068814,"{'Take-out': False, 'Good For': {'dessert': Fa...",business,1,10.857143,2
85855,eHVU1C63xlsKm7XSgIAAOQ,4355 W Spring Mountain Rd\nChinatown\nLas Vega...,"{'Monday': {'close': '23:00', 'open': '11:00'}...",True,"[Chinese, Restaurants]",Las Vegas,5,Lucky Cafe,[Chinatown],-115.197631,NV,4.5,36.125929,"{'Take-out': True, 'Wi-Fi': 'free', 'Good For'...",business,1,12.000000,2
85867,D-vMDv5NlLb9od6sqXtX8A,6040 W Badura Ave\nSte 150\nSpring Valley\nLas...,"{'Monday': {'close': '21:00', 'open': '11:00'}...",True,"[Food, Fast Food, Asian Fusion, Poke, Restaura...",Las Vegas,27,Soho Sushi Bowlrrito,[Spring Valley],-115.223679,NV,4.5,36.062737,"{'Take-out': True, 'Wi-Fi': 'no', 'Drive-Thru'...",business,1,10.285714,5
85885,ECRjdXYLhGzQjCoZKeq6qg,"4210 W Craig Rd\nSte 100\nNorth Las Vegas, NV ...","{'Monday': {'close': '22:00', 'open': '11:30'}...",True,"[Sushi Bars, Japanese, Restaurants]",North Las Vegas,15,Tokyo Sushi House II,[],-115.196967,NV,3.0,36.239686,"{'Take-out': True, 'Takes Reservations': False...",business,1,10.357143,3
85886,mCiSmiZ7iNI08F6dGXP7tw,"7100 W Craig Rd\nNorthwest\nLas Vegas, NV 89129","{'Monday': {'close': '22:00', 'open': '07:00'}...",True,"[Food, Desserts, Restaurants, Bakeries, Sandwi...",Las Vegas,24,Kneaders Bakery & Cafe,[Northwest],-115.249473,NV,3.5,36.240983,"{'Take-out': True, 'Wi-Fi': 'free', 'Good For'...",business,1,15.000000,5

In [26]:
df_r["avg_stars_user"]=df_r["user_id"]

In [31]:
df_r

,votes,user_id,review_id,stars,date,text,type,business_id,avg_stars_user
201322,"{'funny': 2, 'useful': 2, 'cool': 3}",i8KMQX7nekLSCzb_DVb6yA,miYDDBejTHWCPnUsADoETA,4,2009-05-14,I have finally found my go to delivery spot fo...,review,CwTYM1-zs80BB1AWJrWmxQ,i8KMQX7nekLSCzb_DVb6yA
201323,"{'funny': 0, 'useful': 0, 'cool': 0}",Dtg_LWRwXNj_LtRB7k4UUA,_kG-qComfdP_iiPBLVLtpg,5,2009-11-11,EXCELLENT CHINESE FOOD THAT DELIVERS\nI have g...,review,CwTYM1-zs80BB1AWJrWmxQ,Dtg_LWRwXNj_LtRB7k4UUA
201324,"{'funny': 0, 'useful': 1, 'cool': 0}",ohEAfgrkKGKEf0L2pFdfxw,GaDY9BFhM0RN8bVE2a6-iw,4,2009-11-20,YUM YUM YUM!!! \n\nI can't believe I found a d...,review,CwTYM1-zs80BB1AWJrWmxQ,ohEAfgrkKGKEf0L2pFdfxw
201325,"{'funny': 0, 'useful': 1, 'cool': 1}",psf7Etrt3azIdhMhoPKmpA,92rH3xH_evyiLudu8lFMOA,4,2010-01-20,"So it was one of those nights, feeling lazy, t...",review,CwTYM1-zs80BB1AWJrWmxQ,psf7Etrt3azIdhMhoPKmpA
201326,"{'funny': 1, 'useful': 0, 'cool': 0}",J0SEk_wHYZkqJLRlVcvRnQ,LufavMr0XE5pYq34Sb_ueA,1,2010-03-14,I read the reviews and decided to try this aft...,review,CwTYM1-zs80BB1AWJrWmxQ,J0SEk_wHYZkqJLRlVcvRnQ
...,...,...,...,...,...,...,...,...,...
2684641,"{'funny': 0, 'useful': 2, 'cool': 0}",GpwDIWN06FEu3alCnY6YEA,6w3VdJ-uRugF3pKwYZ076w,3,2016-07-18,I stopped by this morning to get a to go order...,review,mCiSmiZ7iNI08F6dGXP7tw,GpwDIWN06FEu3alCnY6YEA
2684642,"{'funny': 12, 'useful': 25, 'cool': 22}",k3itmpGK28_JGNXnAo8W6Q,uPKrN2qEjjzslVLb69ihvQ,5,2016-07-18,"Man, I love seeing people write a short little...",review,mCiSmiZ7iNI08F6dGXP7tw,k3itmpGK28_JGNXnAo8W6Q
2684643,"{'funny': 0, 'useful': 0, 'cool': 1}",3zf7Nlp6EhxCyt1T1LYAuQ,-WPy0X2mgGneNp8kHUZy7w,5,2016-07-19,I love kneaders and try to go there when I'm i...,review,mCiSmiZ7iNI08F6dGXP7tw,3zf7Nlp6EhxCyt1T1LYAuQ
2684644,"{'funny': 1, 'useful': 3, 'cool': 0}",U4_61Y73poKitvK8croz4A,ZXrMbOy_OfzKsFY4FQM5tg,1,2016-07-19,Well after seeing this place off of the 95 I t...,review,mCiSmiZ7iNI08F6dGXP7tw,U4_61Y73poKitvK8croz4A
2684645,"{'funny': 2, 'useful': 3, 'cool': 1}",XpIoruxupclnWNOv4ol6nQ,oSpdZT7YH43QZdeRd-agQQ,5,2016-07-19,I work close by and watched the building go up...,review,mCiSmiZ7iNI08F6dGXP7tw,XpIoruxupclnWNOv4ol6nQ

In [30]:
for i in range(len(df_r["user_id"])):
    user_id=list_users[i]
    idx_userid=df_user[df_user["user_id"]==user_id].index[0]
    df_r["avg_stars_user"][i]=df_user["average_stars"][idx_userid]

,yelping_since,votes,review_count,name,user_id,friends,fans,average_stars,type,compliments,elite
1,2004-10,"{'funny': 8399, 'useful': 15242, 'cool': 12091}",1292,Jeremy,rpOyqD_893cqmDAtJLbdog,"[18kPq7GPye-YQ3LyKyAZPw, 4U9kSBLuBDU391x6bxU-Y...",1345,3.67,user,"{'profile': 117, 'cute': 204, 'funny': 594, 'p...","[2005, 2006, 2007, 2008, 2009, 2010, 2011, 201..."
4,2004-10,"{'funny': 13, 'useful': 37, 'cool': 16}",66,Katherine,SIBCL7HBkrP4llolm4SC2A,"[rpOyqD_893cqmDAtJLbdog, HDQixQ-WZEV0LVPJlIGQe...",5,3.80,user,"{'cute': 2, 'plain': 2, 'writer': 2, 'note': 1...",[2005]
8,2004-10,"{'funny': 58, 'useful': 251, 'cool': 52}",102,Nader,UTS9XcT14H2ZscRIf0MYHQ,"[rpOyqD_893cqmDAtJLbdog, 4U9kSBLuBDU391x6bxU-Y...",7,3.59,user,"{'profile': 1, 'cute': 1, 'funny': 8, 'plain':...",[]
10,2004-10,"{'funny': 7, 'useful': 29, 'cool': 14}",20,Joseph,qL7Astun3i7qwr2IL5iowA,"[4U9kSBLuBDU391x6bxU-YA, PMgE5Yqv7QL_cTjjInyYI...",0,4.30,user,"{'photos': 1, 'hot': 1, 'cool': 2, 'plain': 2}",[]
11,2004-10,"{'funny': 1113, 'useful': 2418, 'cool': 1938}",984,Helen,ZWOj6LmzwGvMDh-A85EOtA,"[XejvgD4CrkR7FeIkjwAjtQ, T7t5UdadpHua-YnmiFpcZ...",84,4.01,user,"{'profile': 9, 'cute': 82, 'funny': 70, 'plain...","[2005, 2006, 2007, 2008, 2010, 2011, 2012]"
...,...,...,...,...,...,...,...,...,...,...,...
686542,2015-03,"{'funny': 3, 'useful': 14, 'cool': 4}",6,Natalie,d4hcITpuuwMbt1lk5bfioQ,[],0,3.50,user,{},[]
686545,2015-06,"{'funny': 0, 'useful': 0, 'cool': 0}",1,Thomas,lCHEFhRPKupyy5p0GC7mhA,"[8gstqf5b0WWP_gtCb0nTrg, pPDwyqSSe59T7FssVy-f_...",0,4.00,user,{},[]
686546,2015-07,"{'funny': 0, 'useful': 3, 'cool': 0}",3,Rachana,l5GTCveGC2SP1adAeDb5Sw,[],0,3.67,user,{},[]
686553,2015-12,"{'funny': 0, 'useful': 1, 'cool': 0}",3,Nancy,JV-CHnvX6qrQzRQOL2yxCA,[],0,5.00,user,{},[]
686555,2016-04,"{'funny': 1, 'useful': 0, 'cool': 0}",1,Amelia,DL0S4Ro4KY77akGPbEkrug,[],0,5.00,user,{},[]

In [27]:
for i in range(len(df_r["user_id"])):
    user_id=list_users[i]
    idx_userid=df_user[df_user["user_id"]==user_id].index[0]
    df_r["avg_stars_user"][i]=df_user["average_stars"][idx_userid]

<ipython-input-27-25b5974118cf>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_r["avg_stars_user"][i]=df_user["average_stars"][idx_userid]

KeyboardInterrupt:

In [ ]:
df_r["review_count_user"]=df_r["user_id"]
for i in range(len(df_r["user_id"])):
    user_id=list_users[i]
    idx_userid=df_user[df_user["user_id"]==user_id].index[0]
    df_r["review_count_user"][i]=df_user["review_count_user"][idx_userid]

In [959]:
len(df_user["user_id"].unique())

207179

#  Data preparation - Categorical Features

In [ ]:
business_df=pd.concat([business_df,categories_df])
business_df.head()

In [ ]:
categories_df=[]
a=business_df["categories"]
for i,x in enumerate(a):
    elements=len(x)
    for j in range(elements):
        newel=x[j]
        categories_df.append(newel)

In [ ]:
col=list(np.unique(categories_df))
categories_df=pd.DataFrame(columns=col)

In [511]:
for i,x in enumerate(a):
    numelements=len(x)
    for j in range(numelements):
        cat=x[j]
        colindex=business_df.columns.get_loc(cat)
        business_df.iloc[i,colindex]=1

In [512]:
business_df.fillna(0)

,business_id,full_address,hours,open,categories,city,review_count,name,neighborhoods,longitude,...,Windshield Installation & Repair,Wine Bars,Wine Tasting Room,Wine Tours,Wineries,Women's Clothing,Yelp Events,Yoga,Ziplining,Zoos
8411,JiA2Q-APw1hBiLBKZv3LKA,"8000 Blue Diamond Rd\nSouthwest\nBlue Diamond,...",{},True,[],Blue Diamond,3.0,Spring Mountain Ranch,[Southwest],-115.299037,...,0,0,0,0,0,0,0,0,0,0
8412,IjcKyB-LUnev2iapzyJ11w,"1000 N Green Valley Pkwy\nHenderson, NV 89012",{},True,"[Food, Grocery, Shopping, Drugstores]",Henderson,28.0,Smith's Food & Drug Stores,[],-115.084131,...,0,0,0,0,0,0,0,0,0,0
8413,Y3jVDgLRULH52M4_fXQOug,"65 S Valle Verde Dr\nHenderson, NV 89012",{},True,"[Burgers, Fast Food, Restaurants]",Henderson,33.0,McDonald's,[],-115.063136,...,0,0,0,0,0,0,0,0,0,0
8414,SP5yg5966RD-1qcgYmDGdg,"2020 W Horizon Ridge Pkwy\nHenderson, NV 89012","{'Monday': {'close': '18:00', 'open': '06:00'}...",True,"[Active Life, Golf]",Henderson,24.0,Desert Willow Golf Course,[],-115.076652,...,0,0,0,0,0,0,0,0,0,0
8415,fItrFDQAb2Kz7wpnNz3XKA,"595 S Green Valley Pkwy\nAnthem\nHenderson, NV...","{'Monday': {'close': '18:00', 'open': '08:00'}...",True,"[Home Services, Real Estate, Apartments]",Henderson,6.0,Horizon Ridge Apartments,[Anthem],-115.085437,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85886,mCiSmiZ7iNI08F6dGXP7tw,"7100 W Craig Rd\nNorthwest\nLas Vegas, NV 89129","{'Monday': {'close': '22:00', 'open': '07:00'}...",True,"[Food, Desserts, Restaurants, Bakeries, Sandwi...",Las Vegas,24.0,Kneaders Bakery & Cafe,[Northwest],-115.249473,...,0,0,0,0,0,0,0,0,0,0
85888,0c5BWTHCjKyxh4461H14IQ,"Downtown\nLas Vegas, NV","{'Monday': {'close': '20:00', 'open': '08:00'}...",True,"[Pet Services, Event Photography, Photographer...",Las Vegas,3.0,Photobetty Photography,[Downtown],-115.139969,...,0,0,0,0,0,0,0,0,0,0
85892,ezB4DWv1MjWwjbIjVNAb9A,304 E Silverado Ranch Blvd\nSoutheast\nLas Veg...,"{'Monday': {'close': '18:00', 'open': '09:00'}...",True,"[Home Services, Real Estate, Apartments]",Las Vegas,5.0,Lyric Apartments,[Southeast],-115.159018,...,0,0,0,0,0,0,0,0,0,0
85895,R4BA2eTM1jeIEq31EVlE4g,3377 S Las Vegas Blvd\nSte 2020\nThe Strip\nLa...,"{'Monday': {'close': '23:00', 'open': '10:00'}...",True,"[Gift Shops, Flowers & Gifts, Shopping, Souven...",Las Vegas,3.0,Citta Delle Luci,[The Strip],-115.171349,...,0,0,0,0,0,0,0,0,0,0
85896,m7-3lyY0CJEhePfJKWtD3w,"3899 East Sunset Rd\nSte 105\nLas Vegas, NV 89120","{'Tuesday': {'close': '18:00', 'open': '10:00'...",True,"[Bridal, Fashion, Shopping, Formal Wear]",Las Vegas,61.0,Bowties Bridal,[],-115.089318,...,0,0,0,0,0,0,0,0,0,0

       review_count    longitude        stars     latitude  split_categories
count   4261.000000  4261.000000  4261.000000  4261.000000            4261.0
mean     151.805914  -115.171860     3.409880    36.125732               1.0
std      331.345316     0.078996     0.780919     0.068517               0.0
min        3.000000  -115.366722     1.000000    35.954998               1.0
25%       15.000000  -115.225409     3.000000    36.083839               1.0
50%       49.000000  -115.171787     3.500000    36.121428               1.0
75%      158.000000  -115.119864     4.000000    36.161705               1.0
max     6200.000000  -114.851171     5.000000    36.336473               1.0

In [643]:
#We also need to one-hot encode the business attributes and their sub-attributes, which are currently in dictionaries in the 'attributes' column.

df2=restaurant_open['attributes'].apply(pd.Series)
df2.head()

,Take-out,Wi-Fi,Drive-Thru,Good For,Caters,Noise Level,Takes Reservations,Ambience,Delivery,Parking,...,Dogs Allowed,Music,Good For Dancing,Coat Check,Happy Hour,Smoking,Open 24 Hours,By Appointment Only,Dietary Restrictions,Ages Allowed
8413,True,free,True,"{'dessert': False, 'latenight': False, 'lunch'...",False,average,False,"{'romantic': False, 'intimate': False, 'classy...",False,"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8421,True,no,NaN,"{'dessert': False, 'latenight': False, 'lunch'...",True,average,False,"{'romantic': False, 'intimate': False, 'touris...",True,"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8424,True,no,NaN,"{'dessert': True, 'latenight': False, 'lunch':...",True,average,False,"{'romantic': False, 'intimate': False, 'touris...",False,"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8425,True,no,NaN,"{'dessert': False, 'latenight': False, 'lunch'...",NaN,quiet,False,"{'romantic': False, 'intimate': False, 'touris...",True,"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8438,True,no,NaN,"{'dessert': False, 'latenight': False, 'lunch'...",True,quiet,False,"{'romantic': False, 'intimate': False, 'touris...",True,"{'garage': False, 'street': False, 'validated'...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [637]:
dict_cols=["Good For","Ambience","Parking","Music"]
col_index=[df2.columns.get_loc(i) for i in dict_cols] 
col_index

[3, 7, 9, 25]

In [648]:
### to be reviewed
for i in col_index:
    temp_df= df2.iloc[:,i].dropna()
    idx=temp_df.index
    for j in range(len(idx)):
        for key, value in temp_df[idx[j]].items():
            if value==True:
                df2.iloc[j,i]=key
            else:
                df2.iloc[j,i]=None

AttributeError: 'str' object has no attribute 'items'

In [654]:
cat_cols=set(list(df2.columns)).difference(dict_cols)

In [680]:
df2_cat=df2[cat_cols].fillna(False)

In [681]:
df2_cat

,Attire,Has TV,Take-out,Wi-Fi,Ages Allowed,Good for Kids,Waiter Service,Caters,Good For Groups,Price Range,...,BYOB,Accepts Credit Cards,Open 24 Hours,Takes Reservations,Outdoor Seating,Dietary Restrictions,Corkage,Coat Check,Dogs Allowed,By Appointment Only
8413,casual,False,True,free,False,True,False,False,True,1,...,False,True,False,False,False,False,False,False,False,False
8421,casual,True,True,no,False,True,False,True,False,1,...,False,True,False,False,False,False,False,False,False,False
8424,casual,False,True,no,False,True,True,True,True,2,...,False,True,False,False,False,False,False,False,False,False
8425,casual,False,True,no,False,True,False,False,False,1,...,False,True,False,False,False,False,False,False,False,False
8438,casual,True,True,no,False,True,True,True,True,1,...,False,True,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85853,casual,False,False,False,False,True,False,False,True,1,...,False,True,False,False,False,False,False,False,False,False
85855,casual,True,True,free,False,True,False,False,True,1,...,False,True,False,True,False,False,False,False,False,False
85867,casual,False,True,no,False,True,False,True,True,1,...,False,True,False,False,False,False,False,False,False,False
85885,casual,True,True,False,False,True,False,False,False,2,...,False,True,False,False,False,False,False,False,False,False
85886,casual,False,True,free,False,True,False,True,True,1,...,False,True,False,False,True,False,False,False,False,False

In [682]:
from sklearn.preprocessing import OrdinalEncoder

ord_enc = OrdinalEncoder()
df2_cat = ord_enc.fit_transform(df2_cat)

TypeError: Encoders require their input to be uniformly strings or numbers. Got ['bool', 'str']